registry "https://registry.npmmirror.com"
"--canvas_binary_host_mirror": "https://registry.npmmirror.com/mirrors/canvas/"
"--sqlite3_binary_host_mirror": "https://registry.npmmirror.com/mirrors/sqlite3/"

