.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Main .Header_Bar {
    flex: 2;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #cac4c4;
}

.Main .Header_Bar .Header_BarItem {
    display: inline-block;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    line-height: 10vh;
    border: none;
    cursor: pointer;
    background: none;
}

.Main .Header_Bar .Header_BarItem span:first-child {
    margin-right: 0.5vw;
}

.Main .Header_Bar .Header_BarItem span {
    font-size: 20px;
}

.Main .Header_Bar .Header_BarItem:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 1.5vw;
    position: relative;
    top: 4vh;
    width: 2vw;
    height: 2vw;
    border-radius: 10px;
}

.Main .Header_Bar .Header_BarItem:last-child:hover {
    background-color: #3187d8;
    color: white;
}

.Main .Content {
    flex: 18;
}

.Main .Modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.Main .Modal .ModalContent {
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 5%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-1kicrip {
    width: 100%;
    height: 100%;
}

.RouterList {
    box-sizing: border-box;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    left: 88%;
    top: 8%;
    background: white;
}

.RouterList .RouterItem {
    border-radius: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    line-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.RouterList .RouterItem div:first-child {
    flex: 1;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 6px;
    margin-right: 7px;
}

.RouterList .RouterItem div:last-child {
    flex: 4;
    display: inline-block;
    margin-right: 5px;
}

.RouterList .RouterItem:hover {
    cursor: pointer;
}
